
<h1> Adopted a New Cat </h1>
<form action="/cat_url(@cat)" method= "post">
  <input type="hidden" name="_method" value="PATCH"/>
  <br>
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%@cat.name%>"/>
  <br>
  <!-- #set a nested key cat to store other keys -->
  <br>
  <label for="male">M</label>
  <input id="male" name="cat[sex]" type="radio" value="<%@cat.sex%>"> />
  <label for="female">F</label>
  <input id="female" name="cat[sex]" type="radio" value="<%@cat.sex%>">/>
  <br>

  <br>
  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>--Please Select--</option>
    <%= @colors.each do|color| %>

    <option value="<%=color%>" <% @cat.color == color ? "selected" : ""%>><%=color%></option>
    <%end%>
    <!-- <option value="grey">grey</option>
    <option value="black">black</option>
    <option value="yellow">yellow</option> -->
  </select>
  <br>

  <br>
  <label for="bday">Bithday</label>
  <input id="bday" type="date" name="cat[birth_date]" value="<%@cat.birth_date%>">
  <br>

  <br>
  <label for="description">Description</label>
  <textarea id="description" name="cat[description]" rows="8" cols="80" value="<%@cat.description%>"></textarea>
  <input type="submit" value="Add to my collection">

</form>
